/*Définition de la police*/
@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-Regular.ttf);
}

*{
    font-family: "Raleway",serif;
}

/*Responsive design*/

{@media all and (max-device-width:480 px)}

/*Ajustements generaux*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

section.top-page
{
    margin: 3%;
    font-size: 1rem;
}
header.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header.header img
{
     width: 90px;
     margin-right: auto; 
     margin-bottom: 10px;   
} 
header.header img
{
    display: flex;  
    justify-content: center;
    align-items:center;
}

/*Menu de navigation*/

nav.nav
{
   width: 25%;
   margin-left: 20%;
   padding: 10px;
   height: 99px;
   list-style-type: none;
}
nav.nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}  

nav.nav li a.lien2
{
    color: black;
    text-decoration: none;
}
nav.nav li a.lien3
{
    color: #0065fc;
    text-decoration: none;
}
.bordurenav
{
    border-top:1px solid blue;
}

/*Section 1 Filtres*/
/*champ de recherche*/
section.section1
{
    margin: 3% ;
}

h1
{
    font-size: 1.2rem;
    
}

p
{
    font-size: 0.9rem;
    margin: 15px;
}

form
{
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

form
{
    width: 400px;
    border-radius: 10px;
    height: 50px;   
}
i
{
    height: 31px;
    width: 30px;
    background:#f2f2f2;
    border: 1px;
    border-radius: none;
    padding: 8px;
}

input[type="search"]
{
height: 31px;
width: 150px;
border-radius: none;
text-align: center;
font-weight: bold;
font-size: 0.8rem;
color: black;
border: 0.5px solid #f2f2f2;
padding-left: 20px;
}


input[type="submit"]
{
 background: #0065fc;
 cursor: pointer;
 border-radius: 0 10px 10px 0;
 height: 30px;
 width: 90px;
 color:white;
 font-weight: bold;
 font-size: 0.8rem;
 border: 1px;
}

/*Filtres*/

h3{
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 20px;   
}

nav.nav1
{
    display: flex ;
    align-items: center;
}

nav.nav1{
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 40px; ;
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: bold;
}
.icons{
    border: 1px solid #f2f2f2;
    height: 40px;
    border-radius: 30px;
    margin-right: 20px;
    font-size: 0.8rem;
    
}

.ajustement
{
margin-left: -2px;   
border-radius: 25px;
width: 52px;
height: 52px;
color:#0065fc;
background-color:#deebff;
}

nav.nav1 i
{ 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons:hover >.nav.nav1 i
{
    color:#0065fc;
    
}

.icons:hover >.ajustement
{
color:white;
background-color: #0065fc;

}

nav.nav1 i
{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px 25px 25px 25px;
}

/*Section 2*Hebergements à Marseille*/

section.hébergements-à-Marseille
{
margin: 3%;
}
.bloc1
{

}
.IMG1
{
background-image: url("./img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 120px;
border-radius: 15px;15px;0;
}
.IMG2
{
background-image: url("./img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 120px;
border-radius: 15px;15px;0;
}
.IMG3
{
background-image: url("./img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 120px;
border-radius: 15px;15px;0;
}
.IMG4
{
background-image: url("./img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 120px;
border-radius: 15px;15px;0;
}
.IMG5
{
background-image: url("./img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 120px;
border-radius: 15px;15px;0;
}
.IMG6
{
background-image: url("./img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 120px;
border-radius: 15px;15px;0;
}



/*Section 3: Les plus populaires*/
.pop1
{
background-image: url("./img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
background-size: cover;
background-position: center;
width: 35%;
height: 160px;
border-radius: 15px;0;0;
}
.pop2
{
background-image: url("./img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 120px;
border-radius: 15px;15px;0;
}
.pop3
{
background-image: url("./img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 120px;
border-radius: 15px;15px;0;
}

/*Section 4: Activités à Marseille*/

margin-top:;
margin-bottom:;

.act1
{
background-image: url("./img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 120px;
border-radius: 15px;15px;0;
}

.act2
{
background-image: url("./img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 250px;
border-radius: 15px;0;0;
}

.act3
{
background-image: url("./img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 150px;
border-radius: 15px;0;0;
}
.act4
{
background-image: url("./img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 530px;
border-radius: 15px;15px;0;
}

.act5
{
background-image: url("./img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 250px;
border-radius: 15px;0;0;
}

.act6
{
background-image: url("./img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
background-size: cover;
background-position: center;
width: 100%;
height: 200px;
border-radius: 15px;0;0;
}


/*Footer*/
height
margin-top